<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site.css"/>

</head>
<body>
  <div id="login-div">
    <h2 class="login-title">  Login Your Account </h2>
      <form class="form-div" action="/login" method="POST">
        <label>Enter your username:</label><input type="text" name="username" /><br /><br />
        <label>Enter your password:</label><input type="password" name="password" />
        <br /><br />
        <input class="login-button" type="submit" value="Login"/>

      </form>
            <a href="/register"><p id="noAccount">
              Don't have an account?
            </p></a>
    </div>
</body>
</html>
