<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site.css"/>

</head>
<body>
  <div id="register-div">
    <h2 class="register-title">  Create an Account </h2>
      <form class="form-div" action="/register" method="POST">
        <label>Create your username:</label><input type="text" name="username" /><br /><br />
        <label>Create your password:</label><input type="password" name="password" /> <br /><br />
        <input class="register-button" type="submit" value="Sign Up"/>

      </form>
            <a href="/login"><button id="loginButtonInRegister">
              Login
            </button></a>
    </div>
</body>
</html>
